# This sets up cpusets, to have CPUs 1-3 reserved for audio apps only
# Put this file in /etc/systemd/system/, then enable it with:
#     sudo systemctl enable cset.service

[Unit]
Description=setup cpusets

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/cset shield -c 1-3 -k on
ExecStart=/bin/chown --recursive pi /sys/fs/cgroup/cpuset/user
ExecStart=/bin/chgrp --recursive pi /sys/fs/cgroup/cpuset/user
ExecStop=/usr/bin/cset shield --reset

[Install]
WantedBy=multi-user.target
Alias=cset
