# Place this file in /etc/systemd/system/ then enable the service with
#     sudo systemctl enable jack.service

[Unit]
Description=jackd service
After=cset.service

[Service]
User=pi
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStart=/usr/bin/cset shield --exec /usr/local/bin/jackd -- -R -P 99 -v -t 2000 -d alsa -d hw:pisound -r 48000 -p 64 -n 3 -X seq -s
ExecStop=/usr/bin/pkill -9 jackd

[Install]
WantedBy=multi-user.target
Alias=jack
