# Put this file in /etc/systemd/system/, then enable the service:
#     sudo systemctl enable jack.service

[Unit]
Description=jackd service
After=cset.service

[Service]
User=pi
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStart=/usr/bin/cset shield --exec /usr/local/bin/jackd -- -R -P 99 -v -t 2000 -s -d alsa -d hw:pisound -r 48000 -p 128 -n 2 -X seq
ExecExit=/usr/bin/pkill -9 jackd

[Install]
WantedBy=multi-user.target
Alias=jack
